node_modules

lerna-debug.log
package.json.lerna_backup

# Serverless directories
.serverless
.webpack

# AWS Local Services
.devcontainer/.cognito/**
.devcontainer/.db/**
.devcontainer/.s3/**
.devcontainer/.ses/**

# AWS Local Projects
.devcontainer/aws-ses-local/**
.devcontainer/cognito-local/**

# dotnet
bin
obj

# Mac
.DS_Store
