node_modules

lerna-debug.log
package.json.lerna_backup

dotnet-install.sh

# Serverless directories
.build
.serverless
.webpack

# AWS Local Services
.devcontainer/.cognito/db/*_local.json
.devcontainer/.cognito/db/local.json
.devcontainer/.db/**
.devcontainer/.s3/**

# Transaction service buckets
!.devcontainer/.s3/Transactions-uploads
!.devcontainer/.s3/Transactions-uploads/._S3rver_cors.xml

.devcontainer/.ses/**

# Registration service email templates
!.devcontainer/.ses/email-templates
!.devcontainer/.ses/email-templates/ConfirmRegistrationTemplate.json

# AWS Local Projects
.devcontainer/aws-ses-local/**
.devcontainer/cognito-local/**
.devcontainer/serverless-offline/**
.devcontainer/serverless-offline-step-functions/**
.devcontainer/serverless-offline-stepfunctions-plugin/**

# VS Debugger
.devcontainer/vsdbg

# lambda dotnetcore deploy packages
*-deploy-package.zip

# dotnet
bin
obj

# Mac
.DS_Store

mono_crash.*

packages/*/storybooks
storybooks/*
