$body-color: #555c69;
$body-background: #fff;

$light: #fff;
$dark: #000;
$stripe-color: #eff0fa;
$header-border: #dee2e6;

$primary-gradient-start: #6b76bd;
$primary-gradient-end: #112282;

$primary-button-background: linear-gradient(170deg, $primary-gradient-start 0%, $primary-gradient-end 100%);
